/* Parallax Windows ----------------- */

.parallax-window {
    min-height: 400px;
    background: transparent;
}

/* Main Styles ----------------- */

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

body {
  background-color: #E9E9E9;
  position: relative;
}

.primary-content p {
  padding-left: 10%;
  padding-right: 10%;
  color: #111;
  font-size: 1.5em;
}

/* Header ----------------- */

.smallHeader {
  background-image: url(../images/WideFlashWall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 0 3em 0;
  color: white;
  font-weight: bold;
}

/* Image Carousel ----------------- */

#myCarousel {
  margin: 0 auto;
  margin-bottom: 7%;
  border: solid #101010;
  max-width: 600px;
}

/* Footer ----------------- */

footer {
  color: #111;
  padding-top: 10%;
  text-align: center;
}

footer img {
  max-width: 6%;
}

/* Reuseable Styling ----------------- */

.border-top {
  border-top: solid #101010;
}

.padding5 {
  padding-top: 5%;
  padding-bottom: 5%;
}